* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header-logo {
  text-align: center;
}
header {
  margin: 40px 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
p,
a {
  color: #c3c3c3;
}
nav {
  text-align: center;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  margin: 0 10px;
  display: block;
}
.main-img {
  width: 100%;
  border-radius: 10px;
}
.link {
  border-bottom: 3px solid transparent;
}
.link:hover {
  transition: all 0.2s;
  border-radius: 3px;
  color: rgb(57, 57, 102);
  border-bottom-color: #497c98;
}

.about-box {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.apartments {
  width: 60%;
  background-color: whitesmoke;
  border-radius: 10px;
  min-height: 350px;
  padding: 20px;
}
.contacts {
  width: 35%;
  min-height: 350px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.apartment-title {
  color: #497c98;
  line-height: 20px;
  margin-bottom: 24px;
}
.apartments p {
  line-height: 20px;
}
.phone {
  margin: 30px 0;
}
.email {
  margin: 30px 0;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 30px 0;
}
footer p {
  margin-bottom: 8px;
}
footer a {
  font-size: 20px;
  font-weight: bold;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 753px) {
  .about-box {
    flex-direction: column;
    width: 100%;
  }
  .apartments {
    width: 100%;
  }
  .contacts {
    width: 100%;
    margin-top: 30px;
  }
  .apartment-title {
    text-align: center;
  }
  .email {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
  .flex {
    flex-direction: column;
  }
}
